<div class="home">
    <section class='home-about'>
        <div class="left">
            <div class="profile">
                <img class="avatar avatar-circle" src="/assets/img/avatar.jpeg" alt="Avatar">
                <div class="portrait-title">
                    <h2>夏光辉</h2>
                    <p>Software Engineer</p>
                    <ul class="network-icon">
                        <li><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://github.com/shinexia" target="_blank" rel="noopener"><i
                                    class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='right'>
            <h1>Biography</h1>
            <div class="bio-detail">
                <div>
                    <h3>Career</h3>
                    <ul class="ul-career fa-ul">
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">Longbridge，交易后台，2022.11-now</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">Tuya，算法平台，2021.04-2022.09</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">VPGame，推荐系统，2020.01-2021.03</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">Rokid，算法工程化，2018.01-2019.11</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">小影，JAVA后端开发，2016.07-2017.10</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">非奇科技，C++手游开发，2014.04-2016.07</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Education</h3>
                    <ul class="ul-edu fa-ul">
                        <li><i class="fa-li fas fa-graduation-cap"></i>
                            <div class="description">
                                <p class="course">浙江大学，软件工程, 2008-2012</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
