<div class="home">
    <section class='home-about'>
        <div class="left">
            <div class="profile">
                <img class="avatar avatar-circle" src="/assets/img/avatar.jpeg" alt="Avatar">
                <div class="portrait-title">
                    <h2>夏光辉</h2>
                    <p>懂点算法的软件工程师</p>
                    <ul class="network-icon">
                        <li><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://github.com/shinexia" target="_blank" rel="noopener"><i
                                    class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/shinexia/" target="_blank" rel="noopener"><i
                                    class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='right'>
            <h1>Biography</h1>
            <div class="bio-detail">
                <div>
                    <h3>Career</h3>
                    <ul class="ul-career fa-ul">
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">VPGame，推荐算法，2020-Now</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">Rokid，AI工程化，2017-2019</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">小影，JAVA后端，2016-2017</p>
                            </div>
                        </li>
                        <li><i class="fa-li fas fa-building"></i>
                            <div class="description">
                                <p class="course">杭州非奇科技，游戏开发，2014-2016</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Education</h3>
                    <ul class="ul-edu fa-ul">
                        <li><i class="fa-li fas fa-graduation-cap"></i>
                            <div class="description">
                                <p class="course">浙江大学，软件工程, 2008-2012</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>